/build/
/nbproject/private/
/plugin/proyectogrado/build/
/plugin/proyectogrado/nbproject/private/
/dist/
/DEMO ACTUALIZADO SEPTIEMBRE 2019/plugin/proyectogrado/build/
/DEMO ACTUALIZADO SEPTIEMBRE 2019/plugin/proyectogrado/nbproject/private/
/DEMO SISTEMA HS ACTUALIZADO SEPTIEMBRE 2019/plugin/proyectogrado/build/
/DEMO SISTEMA HS ACTUALIZADO SEPTIEMBRE 2019/plugin/proyectogrado/nbproject/private/
/pdfparser carlos/fe/nbproject/private/
/pdfparser carlos/fe/build/
/pdfparser carlos/fe/dist/